body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4efef;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 450px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #105db5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.meal-info {
    text-align: center;
    padding: 10px;
}

.meal-info img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
